

.reviews-container {
    margin-top: 20px;
}
  
.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #21044b;
}
  
.review-text {
    font-size: 16px;
    margin-bottom: 5px;
    color: #21044b;
}
  
.review-author {
    font-size: 14px;
    color: #666;
}

.heart {
    cursor: pointer;
    font-size: 20px;
}

.heart.liked {
    color: red;
}

.box{
    background-color: black;
}


h2{
    color: aqua;
}