<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <title>Document</title>
</head>
<body>
 <div id="indexcontainer">
       <nav class="navbar">
            <a href="/" class="logo"><img src="/img/logo.png" alt="Logo"></a>
            <div class="nav-links">
                <a href="/profile">Profile</a>
                <a href="/episodes">Episodes</a>
                <a href="/login">Login</a>
            </div>
        </nav>
       <div class="indexmain">
         <a href="/episodes"> Check out all of the episodes</a>
         <h2></h2>
         <a href="/login">Login here</a>
        </div>
  </div>
</body>
</html>
