<% if user_admin[0] == nil || if user_admin[0] == nil %>
     <%= h2%> Hello world! <%h2%>
    <% else %>
      <button class="register-btn"><a href="/login/register/admin">Register admin</a></button>   
    <% end %>